@font-face {
  font-family: Lombok;
  src: url(fonts/Lombok.otf);
}
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.all{
  border:solid;
  margin: 0;
  padding: 0;
}
.navigation-bar{
  position: absolute;
  padding-top: 30px;
  font-size: 32px;
  text-align: right;
  height: 100px;
  width: 98%
}
.navigation-items{
  text-align:center;
}
.nav-item{
  display:inline-block;
  font-family: 'Roboto', sans-serif;
  padding:20px;
}
.nav-item:hover{
  border-radius: 10px;
  color: red;
  background-color: white;
  padding:20px;
}

.nav-active{
  color:red;
  background-color:white;
  border-radius: 10px;
}
.content{
  position: absolute;
  top: 5%;
  height: 800px;
  text-align: center;
  width: 100%;
  margin-top:1px;
}
#home-content{
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 20%;
}

.page-img{
  display: grid;
  position: relative;
  text-align: center;
  color: white;
}
.center-fit{
  max-width: 100%;
  max-width: 100%;
  text-align:center;
}

.footer{
  position: absolute;
  top: 39.5%;
  width: 100%;
  border:solid;
  text-align:center;
}
