@font-face {
  font-family: Lombok;
  src: url(fonts/Lombok.otf);
}
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.all{
  border:solid;
  margin: 0;
  padding: 0;
}
.sticky{
  position: fixed;
  top:0%;
  width:100%;
}

.button{
  background: none;
  border: none;
  color:white;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
.navigation-bar{
  overflow: hidden;
  position: absolute;
  padding-top: 30px;
  font-size: 32px;
  text-align: right;
  height: 100px;
  width: 98%
}
.navigation-items{
  text-align:center;
}
.nav-item{
  display:inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding:20px;
}
.nav-item:hover{
  border-radius: 10px;
  color: red;
  background-color: white;
  padding:20px;
}

.nav-active{
  color:red;
  background-color:white;
  border-radius: 10px;
}
.content{
  position: absolute;
  top: 5%;
  height: 800px;
  text-align: center;
  width: 100%;
  margin-top:1px;
}
#home-content{
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 20%;
}

#about-content{
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 950px;
}

#blog-content{
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 1600px;
}

#contact-content{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 2100px;
  left: 20%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.page-img{
  display: grid;
  position: relative;
  text-align: center;
  color: white;
}
.center-fit{
  max-width: 100%;
  max-width: 100%;
  text-align:center;
}

.footer{
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align:center;
  font-family: Roboto, sans-serif;
}
